.navbar p {
    background-color: #EEE5DE;
    width: 120px;
    position: absolute;
    top: 8px;
    left: 90px;
    text-align: center;
    padding: 20px 1px 1px 10px;
    border-radius: 6px 6px 0 0;
}

.caption {
    text-align: center;
    color: #FF7F24;
    font-size: 1.5em;
}

.table {
    width: 70%;
    margin: auto;
    margin-bottom: 2em;
    border-bottom: #FF7F24 1px solid;
}

#blank {
    width: 30px;
}

.body-contents{
    text-align: left;
    margin-left: 6%;
    border: #FF7F24 1px solid;

}
.head-contents{
    border: #FF7F24 1px solid;
}


.approval-conments {
    width: 70%;
    margin: auto;
}   

.detail-body {
    background-color: white;
}
