{% extends "main/base.html" %}
{% load static %}
{% block head %}
    <title>Manage account</title>
    <link rel="stylesheet" href="{% static 'css/main/account_manage.css' %}">
    <script type="text/javascript">
        <!--在删除账户之前需要确认-->
        function delete_account(url) {
            var mymessage = confirm("Are you sure to delete the account?")
            var host = location.host;
            if (mymessage == true) {
                window.location.href = 'http://' + host + url;
            }
        }

    </script>
{% endblock %}
{% block content %}

    <div class="navbar manage-account">
        <p>Manage account</p>
        {% if user.is_admin %}
            <a href="{% url 'OAsysterm:add_account' %}">
                <button class="btn btn-default add-btn">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
            </a>
        {% endif %}
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>User ID</th>
            <th>User Name(Account)</th>
            <th>Real Name</th>
            <th>Job Position</th>
            <th>Permission</th>
            <th id="edit"></th>
        </tr>
        </thead>

        {% for u in users %}
            <tbody>
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.real_name }}</td>
                <td>{{ u.position.position_name }}</td>
                <td>{% if u.is_admin %}Administrator{% else %}User{% endif %}</td>
                <td>
                    <a href="{% url 'OAsysterm:edit_account' u.pk %}">
                        <button class="btn btn-warning edit-btn">
                            <span class="glyphicon glyphicon-edit"></span> Edit
                        </button>
                    </a>
                    {% if user.is_admin %}
                        <button class="btn btn-danger delete-btn" onclick="delete_account('/sys/delete/{{ u.pk }}')">
                            <span class="glyphicon glyphicon-trash"></span> Delete
                        </button>
                        </a>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        {% endfor %}

    </table>
    <!--实现分页-->
    {% include "main/_pagiantion.html" %}

{% endblock %}